<div class="form-container">
    <form [formGroup]="doctorForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput id="name" type="text" formControlName="name">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Specialization</mat-label>
            <input matInput id="specialization" type="text" formControlName="specialization">
        </mat-form-field>

        <div class="button-container">
            <button mat-raised-button color="primary" style="margin: 10px;" 
                    [disabled]="!doctorForm.valid"
                    type="submit"
                    >Save</button>
            <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
        </div>
    </form>
</div>