<div class="form-container">
    <form [formGroup]="patientForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput id="name" type="text" formControlName="name">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Birth Date</mat-label>
            <input matInput id="birthDate" type="text" formControlName="birthDate">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Emergency Contact</mat-label>
            <input matInput id="emergencyContact" type="text" formControlName="emergencyContact">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Sex</mat-label>
            <input matInput id="sex" type="text" formControlName="sex">
        </mat-form-field>

        <div class="button-container">
            <button mat-raised-button color="primary" style="margin: 10px;" 
                    [disabled]="!patientForm.valid"
                    type="submit"
                    >Save</button>
            <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
        </div>
    </form>
</div>