<div style="display: flex; align-items: center; justify-content: center; height: 5vh;">
  <span style="margin: 20px;">Patients</span>
</div>

<div class="add-button" (click)="openDialog()"
  style="cursor: pointer; display: flex; align-items: center;justify-content: center;">
  <span style="margin-right: 8px;">Add Patient</span>
  <mat-icon aria-hidden="false" aria-label="Add Patient" fontIcon="add_circle" style="cursor: pointer;"></mat-icon>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let patient">{{ patient.id }}</td>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let patient">{{ patient.name }}</td>
    </ng-container>
  
    <ng-container matColumnDef="birthDate">
      <th mat-header-cell *matHeaderCellDef>Birth Date</th>
      <td mat-cell *matCellDef="let patient">{{ patient.birthDate }}</td>
    </ng-container>
  
    <ng-container matColumnDef="emergencyContact">
      <th mat-header-cell *matHeaderCellDef>Emergency Contact</th>
      <td mat-cell *matCellDef="let patient">{{ patient.emergencyContact }}</td>
    </ng-container>
  
    <ng-container matColumnDef="sex">
      <th mat-header-cell *matHeaderCellDef>Sex</th>
      <td mat-cell *matCellDef="let patient">{{ patient.sex }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let patient">
          <button mat-raised-button color="primary" (click)="openDialog(patient)">Update</button>
      </td>
  </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  